---
---

@import "{{ site.theme }}";

header {
  text-align: center;
  padding: auto;
  margin: 15px;
  position: fixed;
  width: 35%;
  background: url(../images/ng_transparenz_dk_headimg_dk_Logo.jpg);
  background-repeat: no-repeat;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  p {
    color: #d8d8d8;
    opacity:0;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }
}

body {
	background-color: #FFFFFF;
  color: #040f51;
	font-family: 'Trebuchet MS', Helvetica, Jamrul, sans-serif;
	margin: 0px;
	text-align: left;
	font-size: 13px;
	background-image: url('bg_big.jpg'); 
	background-position: 0px 0px;
	background-attachment: fixed;
}

/* HTML-Elemente */

h1, h2, h3  {
	margin: 0px;
	font-weight: bold;
	padding: 4px;
	padding-left: 0px;
	font-family: 'Monotype Corsiva',cursive,'Comic Sans MS'; 
}

h1 {
	font-size: 160%;
	margin-bottom: 8px;
}

h2 {
	font-size: 145%;
	margin-bottom: 6px;
}

h3 {
	font-size: 130%;
	margin-bottom: 4px;
}

a {
	color: #4f1e38;
	font-style: italic;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a img, a:hover img {
	text-decoration: none;
}
